<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="desoft.studio.dewheel">

   <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
   <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

   <application
       android:name=".Wapplication"
       android:allowBackup="true"
       android:hardwareAccelerated="true"
       android:icon="@mipmap/ic_launcher"
       android:label="@string/app_name"
       android:roundIcon="@mipmap/ic_launcher_round"
       android:supportsRtl="true"
       android:theme="@style/Theme.Dewheel"
       android:usesCleartextTraffic="true">
      <activity
          android:theme="@style/Theme.Dewheel.Chat"
          android:name=".ChatActivity"
          android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
          android:exported="false" />
      <activity
          android:name=".GateActivity"
          android:launchMode="singleTask"
          android:noHistory="true"
          android:exported="true">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
      <activity
          android:theme="@style/Theme.Dewheel"
          android:name=".MainActivity"
          android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
          android:exported="false"></activity>

      <meta-data
          android:name="preloaded_fonts"
          android:resource="@array/preloaded_fonts" />
   </application>

</manifest>